{% extends "layout.html" %}
{% block content %}
   <div class="game">
     <h2>Game using PyGame</h2>
     <p>Using PyGame I made a simple car game to avoid traffic cones. This game involves event handling, moving sprites, scoring, and a start menu.
         The score is how long your car avoids hitting a traffic cone. The frequency and speed of the traffic cones increase with time. Not all cones more at the same speed.
         The highest score is kept between games in the same runtime.
     </p>
       <p> This is the game menu: </p>
       <img id="game_menu" src="/static/game_menu.jpg" alt="Game Menu" class="center">
       <p> Example of gameplay: </p>
       <img id="game_play" src="/static/game_play.jpg" alt="Game Play" class="center">
       <p> Example high score being saved: </p>
       <img id="score" src="/static/score_tracking.jpg" alt="Scoring" class="center">
       <h3>Source Code:</h3>
       <p> <a href="https://github.com/n-rasmussen/Basic_Game" style="color:black; text-decoration:underline;">Github Repository</a> </p>

   </div>

 {% endblock %}